.centerResult {
  width: 50%;
  float: left;
  margin-bottom: 40px;
  font-family: Poppins;
}

.centreResult_header {
  position: sticky;
  top: 80px;

  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  z-index: 1;

  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #3886c2;
  color: white;
}

.resultCard {
  /* width: 100%; */
  margin-bottom: 40px;
  padding: 15px;

  border-radius: 40px;
  /* box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5); */

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 150, 170, 180, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  /* border-radius: 10px; */
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  transition: all 0.3s ease-in;
  font-family: "Poppins", sans-serif;
  /* background: rgba(171, 205, 207, 0.3); */
}

.resultCard_img > img {
  width: 100%;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.resultCard_content {
  margin: 3%;
  cursor: pointer;
}

.resultCard_title {
  margin: auto;
  color: #345065;
  font-weight: 1000;
}

.resultCard_description {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #345065;
}

.resultCard_sourceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.resultCard_source {
  color: #3886c2;
  font-size: 1rem;
  font-weight: 600;
}

.resultCard_sourceRow i {
  font-size: 1.5rem;
  color: #3886c2;
}

.resultCard_hide {
  display: none;
}
