.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 8px;
  max-width: 50%; /* Adjust the width of the posts */
  min-height: 300px; /* Ensure posts are a bit taller */
  margin-left: auto; /* These two lines ensure the post */
  margin-right: auto; /* is centered horizontally */
  width: 100%; /* Ensures it respects the max-width */
}

.post-image {
  max-width: 100%; /* Makes the image responsive */
  height: auto;
  border-radius: 8px;
}

.post-text {
  margin-top: 20px;
}

.post-link {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.post-link:hover {
  text-decoration: underline;
}
